---
import Navegacion from './index.astro' 
import {alimentos} from '../components/alimentos.js'

export async function getStaticPaths({params}) {
  
    return alimentos.map((alimento) => (
        { params: { ruta: alimento.alimento } })
    
    );
}

const {ruta}=Astro.params;
---
<Navegacion></Navegacion>

{
    
    alimentos
    .filter(alimento => alimento.alimento ===ruta)
    .map(alimento => (
        <h1>{alimento.alimento}</h1>
        <div class="contenedor">

        <p> {alimento.explicacion}</p>
            <div>
                <span>
        Carbohidratos: {alimento.carbohidratos}
                    </span>
                    <span>
        Indice Glucemico: {alimento.indiceGlucemico}
                        </span>
                        <span>
        Fibra: {alimento.fibra}

                        </span>
        </div>
       
       </div>
    ))

}


<style>

.contenedor{
    border: solid 1px black;
    padding: 20px;
    margin: 20px;
    display:grid;
    grid-template-columns: 50% 30%;
}



h1 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p{
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    span{
        display:block;
        text-align:end;
        font-size: 1.5rem;
        margin-bottom: 1rem;
}

</style>
